html{
  font-family: Arial, Helvetica, sans-serif;
  width:100vw;
  min-width: 100%;
  margin:0;
}
body{
  background-color: transparent;
  width:100vw;
  max-width:100%;
  min-width:1920px;
  height:100%;
  min-height:618px;
  margin:0px;

}

#maincontainer{
  background:linear-gradient(to top, #2C5364, #203A43, #0F2027);
  box-sizing: content-box;
  width:1920px;
  min-height:618px;
  margin:0px;
  overflow: hidden;

}
#header{
  position: fixed;
  background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../Images/trees-top3.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  min-width:1920px;
  min-height:618px;
  overflow: hidden;
  z-index: 1;
}

#logo img{
  position: fixed;
  margin-top:0px;
  margin-left: 0px;
  width:400px;
  height:auto;
  z-index: 2;
  overflow:hidden;
}

#navbar{
  position: relative;
  background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  margin-top: 63.8vh;
  height:10vh;
  width:1920px;
  z-index:4;
  overflow: hidden;
}
#navbar a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight:600;
  letter-spacing: 0.15em;
  margin-top: 100px;
  margin: 5vh;
  overflow: hidden;
}
#navbar ul{
  height:10vh;
  margin-top: 25px;
  margin-left: 25%;
  list-style-type: none;
  overflow: hidden;
}
#navbar li {
  float:left;
  display: block;
}
#navbar .current{
  border-bottom: 2px solid;
  border-color: white;
  top: 50%;
  bottom: 0;
}
#navbar li::first-letter{
  color: #e69138;
  font-size: 35px;
}
#navbar li a:hover {
  border-bottom: 2px solid;
  border-color: white;
  top: 50%;
  bottom: 0;
}

#socialMediaIcons{
  position: relative;
  display: flex;
  justify-content: center;
  width:1920px;
  height:10vh;
  z-index:3;
}
#socialMediaIcons a{
  display: flex;
  position: relative;
  text-decoration: none;
  justify-content:center;
  margin-top: 0.6vh;
}
#socialMediaIcons ul{
  background:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  border-radius: 0px 0px 40px 40px;
  justify-content:center;
  margin-top: 0;
  height:4vh;
  width:25vh;
  list-style-type: none;
}
#socialMediaIcons li{
  margin-top: 0;
  margin-right:2.5vh;
  width:3vh;
  height: 3vh;
  border:2px solid white;
  border-radius:50%;
  display: block;
  float: left;
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
  overflow-x: visible;
}
/* Navigation bar End*/

#contentcontainer{
  position:relative;
  background:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  color:white;
  width:100%;
  overflow: hidden;
  margin-top: -10vh;
  min-height: 50vw;
  z-index: 1;
}

.contentHeader2{
  background:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  height:5vh;
  width:20vh;
  margin-top: 5vh;
  margin-left: 20%;
  border: 5px solid transparent;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;

}
.contentHeader2 p{
  margin-top: 1vh;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 25px;
  overflow: hidden;

}
.gradient{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 20%, rgba(23,46,56,0.25) 50%, rgba(255,255,255,0.25) 80%, rgba(249,249,249,0) 100%);
  height:0.5vh;
  width:70%;
  margin-left: 15%;
  margin-bottom: 5vh;
  overflow: hidden;
}
.NewsContainer{
  margin-top: 10vh;
  padding: 2vh;
  height: 100%;
  min-height:300px;
  width:100%;
  overflow: hidden;
}
.NewsContainer2{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 2vh;
  height: 100%;
  min-height:300px;
  width:100%;

  overflow: hidden;
}
.NewsImage{
  margin-left:20%;
  float:left;
  box-shadow: -11px 10px 33px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -11px 10px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 10px 33px 0px rgba(0,0,0,0.75);
  overflow: hidden;
}
.NewsTekst{
  float:left;
  font-size: 17px;
  width:400px;
  height:300px;
  margin-right:50px;
  margin-left:50px;
  letter-spacing: 0.05em;
  overflow: hidden;
}
.NewsTekst a{
  text-decoration: none;
  color: white;
}
.NewsTekst a:hover{
  color: white;
  text-decoration:underline;
}
/* Footer start*/
#footcontainer{
  background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../Images/trees-bot2.png);
  background-repeat: no-repeat;
  background-size:cover;
  width:1920px;
  height:34.5vh;
  overflow: hidden;
  margin:0;
}

#footer{
  position: relative;
  margin-top:24.5vh;
  height:10vh;
  width:1920px;
  overflow: hidden;
}
#footer a{
  color: white;  /* Change color off footer links*/
  text-decoration-line: underline;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
#footer ul{
  list-style-type: none;
  overflow: hidden;
}
#footer .about {
  display: block;
  float:left;
  margin-left: 50px;
  margin-top: 200px;
  overflow: hidden;
}
#footer .socialmedia {
  display: block;
  float:left;
  margin-left: 50px;
  margin-top: 200px;
  overflow: hidden;
}
#footer .contact {
  display: block;
  float:left;
  margin-left: 50px;
  margin-top: 200px;
  overflow: hidden;
}
/* Footer End*/
